@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* HEADER */
header {
    background-color: steelblue;
}
h1 {
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 100;
    font-size: 68px;
    letter-spacing: 8px;
    word-spacing: 10px;
}
/* NAV */
nav {
    border: 2px solid salmon;
}

nav ul li a {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 800;
    text-decoration: none;
}

nav ul li a:hover {
    color: teal;
    text-decoration: underline;
}

section h2 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}

h1, h2 {
    text-transform: uppercase;
}
span  {
    color: slateblue;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.importante {
    color: tomato;
}


#web {
    color: teal;
}

#multimedial span.violtea {
    color: violet;
}

p {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}
.textoRojo {
    font-weight: 700;
    color: red;
    font-family: "Mea Culpa", cursive;
}
