header {
    background-color: steelblue;
}

nav {
    border: 2px solid salmon;
}

span  {
    color: slateblue;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 68px;
}

.importante {
    color: tomato;
}